*,*:after,*:before{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
  }
  body{
    font-family: arial;
    font-size: 16px;
    margin: 0;
    color: #000;
    
    background-color: #228c97;
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;;
  }
  
  .container{
    width: 680px;;
    text-align: center;
    padding: 30px;
    background: #fff;
    border-radius: 15px;
  }
  
  #inputText{
    width: 400px;
    height: 200px;
    padding: 20px;
    resize: none;
    font-size: 20px;
    font-family: arial;
    box-shadow: 0 0 5px #8c8c8c ;
    border: 3px solid #8c8c8c;
    border-radius: 10px;
    outline: 0;
  }
  .box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
    
  }
  #voiceIco{
    font-size: 150px;
    width: 210px;
    text-align:left;
  }
  #convert{
    padding: 15px 35px;
    border-radius: 5px;
    border: 0;
    font-size: 20px;
    background: #05737f;
    color: #fff;
  }
  